<!doctype html>
<html ng-app="TagConverter">
<head>
	<meta charset="utf-8">
	<title>Tag Converter</title>
	<link rel="stylesheet" href="css/tag-converter.css">
	<script src="https://code.angularjs.org/1.3.9/angular.min.js"></script>
	<script src="js/tag-converter.js"></script>
</head>
<body>

	<div ng-controller="TagConverterController as tcc">
		<form name="myForm">
			<input
				type="number"
				id="decInput"
				name="decInput"
				ng-model="id"
				min="0"
				max="4095"
			/>
		</form>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			viewBox="0,0,400,480"
			width="400"
			height="480"
			class="svg"
		>

			<defs>
				<marker
					id="arrow-start" viewBox="0 0 10 10" refX="5" refY="5"
					markerUnits="strokeWidth" markerWidth="5" markerHeight="5" orient="auto"
				>
					<path d="M 0 5 L 10 0 L 10 10 Z" />
				</marker>
				<marker
					id="arrow-end" viewBox="0 0 10 10" refX="5" refY="5"
					markerUnits="strokeWidth" markerWidth="5" markerHeight="5" orient="auto"
				>
					<path d="M 0 0 L 10 5 L 0 10 Z" />
				</marker>
			</defs>

			<rect class="background" width="400" height="480" x="0" y="0" rx="20" ry="20" />

			<g class="tag" transform="translate(200,200)">

				<g class="gridswitch" transform="translate(124,170)" ng-click="switchGrid()">
					<rect x="-6" y="-18" width="60" height="24" rx="5" ry="5" />
					<text x="0" y="0">{{ 'grid: ' + ( showGrid ? '&#10003;' : '&#10007;' ) }}</text>
				</g>

				<circle r="150" cx="0" cy="0" fill="#fff" />

				<g ng-repeat="d in digits" ng-attr-transform="rotate({{ d*30 }})">
					<path
						class="segment"
						d="M 0,0 L 0,-110 A 110,110,0,0,1,55.33,-95.07 L 0,0 Z"
						fill="{{ getBinaryDigit(d) ? '#fff' : '#000' }}"
						ng-click="setBinaryDigit(d)"
					/>
					<g class="digit" ng-show="showGrid" transform="rotate(15)">
						<text x="-8" y="-75" fill="{{ getBinaryDigit(d) ? '#000' : '#fff' }}">
							{{ getBinaryDigit(d) }}
						</text>
						<g class="power">
							<text x="-4" y="-115">2</text>
							<text class="small" x="6" y="-120">{{ d }}</text>
						</g>
					</g>
				</g>

				<circle r="60" cx="0" cy="0" fill="#fff" />
				<path d="M 0,0 L 60.5,0 A 60.5,60.5,0,0,1,-60.5,0 L 0,0 Z" fill="#000" />

				<g class="grid" ng-show="showGrid">
					<circle r="110" cx="0" cy="0" />
					<circle r="60" cx="0" cy="0" />
					<path
						ng-repeat="d in digits"
						ng-attr-transform="rotate({{ d*30 }})"
						d="M 0,-60 L 0,-110"
					/>
				</g>

				<g class="direction" ng-show="showGrid">
					<g transform="rotate(15)">
						<path d="M 0,-175 L 0,-165" />
						<path
							d="M 0,-170 A 170,170,0,0,1,147.22,-85"
							marker-end="url(#arrow-end)"
						/>
						<path
							id="sigPath"
							d="M 0,-180 A 180,180,0,0,1,155.88,-90"
							class="align"
						/>
						<text><textPath xlink:href="#sigPath" startOffset="50">
							significance
						</textPath></text>
					</g>
					<g transform="rotate(-15)">
						<path d="M 0,-175 L 0,-165" />
						<path
							d="M -147.22,-85 A 170,170,0,0,1,0,-170"
							marker-start="url(#arrow-start)"
						/>
						<path
							id="readPath"
							d="M -155.88,-90 A 180,180,0,0,1,0,-180"
							class="align"
						/>
						<text><textPath xlink:href="#readPath" startOffset="35">
							reading direction
						</textPath></text>
					</g>
				</g>

			</g>

			<g transform="translate(20,410)" class="number">
				<text x="0" y="0">decimal:</text>
				<!--<text x="100" y="0">{{ id }}</text>-->
				<text x="210" y="0">{{ myForm.decInput.$valid ? '' : '&#10007;' }}</text>
				<text x="0" y="40">binary:</text>
				<g
					class="digit"
					ng-repeat="d in digits"
					ng-attr-transform="translate({{ d*-22 + 342 }},40)"
					ng-click="setBinaryDigit(d)"
				>
					<rect x="-4" y="-24" rx="5" ry="5" width="20" height="30" />
					<text>{{ getBinaryDigit(d) }}</text>
				</g>
			</g>

		</svg>
	</div>

</body>
</html>

